@page "/"

@if (_trails == null)
{
    <p>Loading trails...</p>
}
else
{
    <div class="grid">
        @foreach (var trail in _trails)
        {
            <div class="col mb-4">
                <TrailCard Trail="trail" />
            </div>
        }
    </div>
}
